<!--suppress ALL -->
<mj-section background-color="#375a67">
    <mj-column width="100%">
        <mj-text align="center" color="#eee">
            <span>Hecho con ❤️ por Ecommer.shop</span>
        </mj-text>
    </mj-column>
</mj-section>
</mj-body>
</mjml>
