<!--suppress ALL -->
<mj-section background-color="#12123F">
    <mj-column width="100%">
        <mj-text align="center" color="#eee">
            <span>Hecho con ❤️ para ti</span>
        </mj-text>
    </mj-column>
</mj-section>
</mj-body>
</mjml>